@import "tailwindcss";

:root {
  --background: #015e56;
  --foreground: #ffffff;
  --card: #0f7c77;
  --text: #0a0c0b;
  --font-geist: "Geist", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist);
}

@theme {
  --color-primary: #015e56;
  --color-secondary: #ffffff;
  --color-alternate: #0f7c77;
  --color-text: #0a0c0b;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  font-family: var(--font-geist), sans-serif;
}

body {
  background: whitesmoke;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer body {
  .radio-custom {
    @apply appearance-none w-6 h-6 border-4 border-primary rounded-full checked:bg-primary focus:outline-none focus:ring-3 focus:ring-primary/30 focus:ring-offset-3 cursor-pointer;
  }
}

.active {
  color: var(--color-primary);
}

.font-geist {
  font-family: var(--font-geist);
}
